@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans.ttf')
}

body {
    background-color: rgb(222, 234, 185);
}
#main {
    color: rgb(0, 149, 75);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
